{% if page.type_name == "Event" %}

<div class="event-detail">
    <h4>When</h4>
    <div class="subtext">
      {% if page.event.is_multi_day? %}
      {{ page.event.local_start_at | event_time }} - {{ page.event.local_end_at | event_date }}
      {% else %}
      {{ page.event.local_start_at | event_time }} - {{ page.event.local_end_at | event_just_time }}
      {% endif %}
    </div>
  </div>

 {% if page.event.has_venue? %}

  <div class="event-detail">
    <h4>Where</h4>
    <div class="subtext">
      {% if page.event.venue_name.size > 0 %}
      {{ page.event.venue_name }}<br/>
      {% endif %}
      {% for line in page.event.venue_address.multi_line %}
      {{ line }}<br/>
      {% endfor %}
      {% if page.event.has_venue_address? %}
      <a href="{{ page.event.venue_address.google_map_link }}">Google map and directions</a>

      {% endif %}
    </div>
  </div>


<div class="map media" id="rtr-map">
        <a href="{{ page.event.venue_address.google_map_link }}">
        <img
        src="https://maps.googleapis.com/maps/api/staticmap?center={{ page.event.venue_address.lat }},{{ page.event.venue_address.lng }}&zoom=13&size=237x237&maptype=roadmap&markers=color:blue|label:S|{{ page.event.venue_address.lat }},{{ page.event.venue_address.lng }}" />
        </a>
</div>
<script>
  width = document.getElementById('rtr-map').clientWidth;
  map_html = '<a href="{{ page.event.venue_address.google_map_link }}"><img src="https://maps.googleapis.com/maps/api/staticmap?center={{ page.event.venue_address.lat }},{{ page.event.venue_address.lng }}&zoom=13&size=' + width + 'x' + width + '&maptype=roadmap&markers=color:blue|label:S|{{ page.event.venue_address.lat }},{{ page.event.venue_address.lng }}" /></a>';
        document.getElementById('rtr-map').innerHTML = map_html;
</script>
  {% endif %}




 

  {% if page.event.has_contact? %}

  <div class="event-detail">
    <h4 class="subhead">Hosts</h4>
    <div class="subtext">
      {% if page.event.is_hosts? %}
        {% for host in page.event.hosts %}

      {{host.signup.profile_image }}
      {{ host.signup.published_name_linked  }}<br/>

      {% if host.signup.has_bio? %}
      {{host.signup.bio }}
      {% endif %}
      {% endfor %}      
      {% endif %}
    </div>
  </div>


  <div class="event-detail">
    <h4 class="subhead">Contact</h4>
    <div class="subtext">
      {{ page.event.contact_name }}
      {% if page.event.has_public_contact_email? %}
      &middot; {{ page.event.contact_email | enkode_email }}
      {% endif %}
    </div>
  </div>

  {% endif %}

{% endif %}
