    {% if signup.profile_image_url contains 'facebook' %}
 <div class="image" style="background-image: url({{ signup.profile_image_url | replace: '=73', '=255' }})"></div>
 {% elsif signup.profile_image_url contains 'twitter' %}
 <div class="image" style="background-image: url({{ signup.profile_image_url | replace: '_73', '_255' }})"></div>
 {% else %}
 <div class="image" style="background-image: url({{ signup.profile_image_url }})"></div>
 {% endif %}

<div class="people-list-pic media-left"> {{ signup.bigger_profile_image }}</div>
<div class="media-body">
    
  <div class="signup_wrapper"/>

	<div class="people-name">{{ signup.published_name_linked }}</div>
        <div class="rtr-people-geo">{{ signup.address.location }}</div>

   {% if signup.has_bio? %}
        <div class="padtopless">
          {{ signup.bio | link_urls }}
        </div>
        {% endif %}

</div>
      <div class="signup_wrapper">
         {% if signup.has_website? %}
        <div class="network rtr-button rtr-curved">
          <a href="{{ signup.website }}">
            <img class="rtr-social" src="http://d3n8a8pro7vhmx.cloudfront.net/themes/55814e112213932968000001/attachments/original/1445339880/website.png?1445339880" />
          </a></div>
        {% endif %}
	{% if signup.has_facebook_info? %}
	<div class="network rtr-button rtr-curved"><a href="{{ signup.facebook_profile_url }}">
    <img class="rtr-social"  src="http://d3n8a8pro7vhmx.cloudfront.net/themes/55814e112213932968000001/attachments/original/1445335810/facebook.png?1445335810"/>
    </a></div>
	{% endif %}
	{% if signup.has_twitter_info? %}
	<div class="network rtr-button rtr-curved"><a href="{{ signup.twitter_profile_url }}">
    <img class="rtr-social" src="http://d3n8a8pro7vhmx.cloudfront.net/themes/55814e112213932968000001/attachments/original/1445337667/twitter.png?1445337667" />
    </a></div>
	{% endif %}
      </div>
</div>
