<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }}</title>

    <!-- Bootstrap -->
    <link href="theme.scss" rel="stylesheet">
<meta name="theme-color" content="#ffffff" /> 
    {{ content_for_header }}

    <script type="text/javascript">
      NB.appConfig.userIsLoggedIn = {{request.logged_in?}};
    </script>
    
    <!-- RTR Custom -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:100,300,400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body class="aware-theme v2-theme {{ page.page_class_name }} page-{{ request.template | replace: '_', '-' }} js">

    {% include "nav" %}
                <!-- Temporary header -->
   
    <style>
      
      <style> 
  footer {
    margin:0px;
  }
  
  a {
    color: #60BAD4;
  }
      
      nav {
        margin-bottom: 0px !important;
      }
      @media screen and (max-width: 600px) {
        grid-2 {
          width: 100% !important;
       }
     }
    </style>
    <!--END -->

    {% if site.has_header_image? and page.features_count == 0 %}
    <div class="container header-image-container">
     <img src="{{ site.header_image_url_1026 }}" class="header-image img-responsive" border="0" />
    </div>
    {% endif %}


    {% if page.features_count > 0 %}
      <div class="container">
        

       {% include "features" %}
      </div>
    {% endif %}

    <div class="main-container" id="middle">
      <div class="main container clearfix navbar-padding {% if site.has_background_image? %}well well-lg{% endif %}">

        {% if request.is_sidebar? %}
        {% include "columns_2" %}
        {% else %}
        {% include "columns_1" %}
        {% endif %}

      </div>
      <!-- .main -->
    </div>
    <!-- .main-container -->
    
    <!-- Add This Event -->
    {% include "partial_ate_settings" %}

    <footer style="background-color:#292C33; padding-top:15px;color:white;">
      <div class="container {% if site.has_background_image? %}well well-lg{% endif %}" style="margin:auto;">
        {{ content_for_footer }}
        <div style="max-width:1150px;margin-left:auto;margin-right:auto;">
        <div class="gridfoot">
					<div class="grid-3">
						<h2>Contact</h2>
						<p>Right to Research Coalition</p>
						<p>21 Dupont Circle, NW, Suite 800</p>
						<p>Washington, DC 20036</p>
						<p><a href="mailto:joe@righttoresearch.org">Joe@righttoresearch.org</a></p>
					</div>
          <div class="grid-3">
<h2>About</h2>
<p><a href="/about-us">About Us</a></p>
<p><a href="/media-resources">Media Resources</a></p>
<p><a href="/participant_faq">FAQ</a></p>
<p><a href="/privacy">Privacy Policy</a></p>
           <p><a href= "/code_of_conduct">Code of Conduct</a></p>
</div>
<div class="grid-3">
  {% subpage "footer_suggest" with "got_questions" %}
          </div>

 </div>
        <div class="gridfoot">
<div class="grid-3">
<p>&copy; 2016 SPARC, subject to a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 License</a> <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"> <img src="https://i.creativecommons.org/l/by/4.0/88x31.png" alt="Creative Commons License" /></a></p>
          </div>
<div class="grid-3">
  
          </div>
          
          <div class="grid-3">     
            <!-- The NationBuilder link below is required. If it is removed, we may add it back ourselves.
                 You can style it or move it in different ways, but please leave it in the footer. -->
            {% if request.logged_in? or request.sorta_logged_in? %}
            <p>Welcome back, {{ request.current_user.first_name }}</p>
            {% else %}
              <p><a href="login">User log in</a></p>
            {% endif %}
            <span style="color:gray;">Created with <a href="http://nationbuilder.com/" style="color:gray;">NationBuilder</a></span>
          </div>
        </div>

        </div>
      </div>

      <!-- container -->
    </footer>


    {% if site.has_background_image? %}
      <!--[if lt IE 9]>
      <script type="text/javascript" src="/javascripts/jquery.backstretch.min.js"></script>
      <script type="text/javascript">
        jQuery.backstretch("{{ site.background_image_url }}", {speed: 0});
      </script>
      <![endif]-->
      <style>
        body {
          background: url('{{ site.background_image_url }}') no-repeat center center fixed;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover;
        }
    </style>
    {% endif %}

    <script src="bootstrap.js"></script>
    {% if page.slug == "homenew" %}
      <script>
        jQuery( "#carousel-generic" ).parent().css( "background-image", "url(\"http://d3n8a8pro7vhmx.cloudfront.net/themes/55814e112213932968000001/attachments/original/1437305794/background.png\")" );
        jQuery("#middle").css("margin-top", "0px");
        jQuery(".main").css("padding", "0px");
    </script>
      {% endif %}
    
        <script>
      jQuery(document).ready(function() {
      jQuery(window).scroll(function() {
    var scroll = jQuery(window).scrollTop();
    if (scroll >= 200) {
       jQuery(".navbar").addClass('smaller');
    } else {
       jQuery(".navbar").removeClass("smaller");
    }});
      });
    </script>

  </body>
</html>

